/* nav style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.navbar nav {
    padding: 0 25px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color:none;
    color: white;
}

nav div > div {
    cursor: pointer;
}

 .logo,
nav .nav-links,
nav .nav-links .location {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.logo {
    font-size: 24px;
    cursor: pointer;
    text-transform: capitalize;
}
.logo span {
    margin-left: 10px;
}
.logo img {
    border-radius: 3px;
    width: 40px;
}
nav .nav-center {
    gap: 30px;
}
nav .nav-right {
    gap: 15px;
}
nav .nav-right .location {
    padding: 10px 15px;
    border-radius: 10px;
    gap: 5px;
}
nav .nav-right .location:hover {
    background-color: white;
    color: black;
}
.nav-right .get-app {
    padding: 10px 15px;
    border: 2px solid #fff;
    border-radius: 5px;
}
nav .nav-links a {
    text-decoration: none;
    color: white;
}
/* video style */
#vid-par{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
     background-blend-mode: overlay;
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
}
#my-vid {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}
#vid-content>img:nth-child(1){
    height: 200px;
    margin-bottom: 50px;

}
#vid-content>h2 {
    font-size: 25px;
    color: #fff;
    font-family:Inter-Medium,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    letter-spacing: -0.2px;
    line-height: 28px;
    margin-bottom:20px;
}
#vid-content > button {
    color:#F06055;
    font-size:20px;
    padding:12px 20px 12px 20px;
    margin-bottom: 20px;
    display: block;
     margin:auto;
     margin-bottom: 10px;
}
body{
    background-color:#051320;  
}
#cont-par{
display:grid;
grid-template-columns: repeat(3,1fr);
justify-content: space-around;
gap: 5%;
width: 80%;
margin: auto;
margin-top: 10px;
border: 2px solid none;

}
#cont-par > .gen{
    width: 80%;
    background-color: #333;
    padding:30px 60px 10px 60px;
    border-radius: 5px;
    color: #FFFF;
    line-height: 25px;
    margin: auto;
    

}
#cont-par > img{
    margin-top: 20px;
}
#gal-par {
    position: relative;
    margin-bottom: 100px;
}
#gal-par .pics{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 400px 400px;
    justify-content: space-around;
    gap: 5%;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border: 2px solid none; 
}

#gal-par .pics div img {
    width: 100%;
    height: 100%;
}

.gal-par-text {
    color: #fff;
    font-size: 32px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#trainer {
    margin-top: 50px;
    position: relative;
}
#trainer >.trainee-pics {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 400px 400px;
    justify-content: space-around;
    gap: 5px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border: 2px solid none; 
}

#trainer >.trainee-pics > div img {
    width: 90%;
    height: 90%;
}

.trainee-pics-text {
    color: #fff;
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#circular #one-text h1 {
    color: #fff;
    font-size: 55px;
    text-align: center;
    margin-bottom: 40px;
}
 
#circular h4 {
    color: skyblue;
    
}
#circular{
position: relative;
}
#cult {
 position: absolute;
}

#learn-more {

 display: flex;
 justify-content: center;
}
#circular > #cult> #group-one{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
    justify-content: space-around;
    gap: 15px;
    width: 80%;
    margin: auto;
    padding-left: 20%;
    margin-top: 10px;
    border: 2px solid none; 

}

#circular>    #cult > #one-text ,h1,h4 {
    text-align: center;
    color: white;
}
#circular > #cult> #group-one li{
color: #fff;
align-items: center;
}
ul+button{
    padding: 10px 5px 10px 5px;
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}
button+button {
    padding: 10px 5px 10px 5px;
    background-color:orangered;
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}
/*.logo {
     display: flex;
    align-items: center;
    text-transform: uppercase;
}*/
.logo span {
    margin-left: 10px;
    color: white;
}
.logo {
    height:40px;
}
#foot {
    background-color:black;
    width: 100%;
    color: #fff;
    height: 300px;
    padding-top: 30px;
    font-size: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left:10%;
    margin-bottom: 150px;
    

}

#foot p{
    font-size: 15px;
}
#foot a{
color: #fff;
text-decoration: none;
font-size: 20px;
padding-left: 30px;
}
.last-four img{
    height: 50px;
}
#sildeshow img{
height: 200px;
width: 200px;

}