/* nav style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.navbar nav {
    padding: 0 25px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color:none;
    color: white;
}

nav div > div {
    cursor: pointer;
}

nav .logo,
nav .nav-links,
nav .nav-links .location {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
nav .logo {
    font-size: 24px;
    cursor: pointer;
    text-transform: capitalize;
}
nav .logo span {
    margin-left: 10px;
}
nav .logo img {
    border-radius: 3px;
    width: 40px;
}
nav .nav-center {
    gap: 30px;
}
nav .nav-right {
    gap: 15px;
}
nav .nav-right .location {
    padding: 10px 15px;
    border-radius: 10px;
    gap: 5px;
}
nav .nav-right .location:hover {
    background-color: white;
    color: black;
}
.nav-right .get-app {
    padding: 10px 15px;
    border: 2px solid #fff;
    border-radius: 5px;
}
nav .nav-links a {
    text-decoration: none;
    color: white;
}
/* video style */
#vid-par{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
     background-blend-mode: overlay;
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
}
#my-vid {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}
#vid-content>img:nth-child(1){
    height: 200px;
    margin-bottom: 50px;

}
#vid-content>h2 {
    font-size: 25px;
    color: #fff;
    font-family:Inter-Medium,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    letter-spacing: -0.2px;
    line-height: 28px;
    margin-bottom:20px;
}
#vid-content > button {
    color:#F06055;
    font-size:20px;
    padding:12px 20px 12px 20px;
    margin-bottom: 20px;
    display: block;
     margin:auto;
     margin-bottom: 10px;
}
body{
    background-color:rgb(66, 66, 71)
}
